<nav>
    <a routerLink="/home" class="nav-logo">Dev<span>Pulse</span></a>

    <ul class="nav-links">
        <li><a class="active" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a class="active" routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a class="active" routerLink="/blogs" routerLinkActive="active">Blogs</a></li>
    </ul>

    <div class="nav-actions">
        <a routerLink="/auth/login" class="btn-signin">Sign In</a>
        <a routerLink="/auth/register" class="btn-signup">Sign Up</a>
    </div>
</nav>